<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script src="https://use.fontawesome.com/d48089dd45.js"></script>
    <title>RTS[core]Template | Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/RTS.bootstrap4.min.css" rel="stylesheet">
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
    
    
    <!-- Custom styles for this template -->

   <link href="dashboard.index.css" rel="stylesheet"> 
   <link href="inbox/inbox.css" rel="stylesheet">
  </head>
  <body>
    <div class="row row-offcanvas row-offcanvas-left ">
    <!-- Leftside offcanvas-->
      <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar"style="padding:0;margin:0;">
    <!--Header/navbar offcanvas nav -->
        <div class="header" style="background-color:#55595c">
          <nav class="navbar navbar-dark bg-inverse"style="max-height:55px; padding:0 0 0 15px; margin-0px;" >
            <div id="logo">
              <object>
                <embed src="../../assets/img/betta-fish-navbar.svg" width="200"height="55"/>
              </object>
            </div>   
          </nav>
        </div>
      <!-- Navagation -->
        <div style="height:250px; width:100%; background-color:#55595c;">
          <div class="userbox">
            <img src="img/user-shape.svg" height='75' width='75'/>
            <div class="row">
              <p class="lead text-info">Reagan Stewart</p>
              <p class="text-muted">Directort of User Experience</p>
              <hr/>
              <div class="row">
                <div class="col-xs-3">
                  <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-3">
                  <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-3">
                  <a href=""><i class="fa fa-mobile" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-3">
                  <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="profileEditbtn pull-right">
                  <button class="btn btn-outline-secondary btn-sm">Edit</button>
                </div>                 
              </div>
            </div>
          </div>
        </div>
        <div class="sidenavBox">
          <h5 class="">navigation</h5>
          <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
            <li class="nav-item">
              <a class="nav-link" href="#"data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu">Process One<i class="fa fa-chevron-up pull-right"></i></a>
              <ul class="nav nav-pills nav-stacked collapse left-submenu" id="item1">
                <li class="nav-item"><a class="nav-link" href="#">View One</a></li>
                <li class="nav-item"><a class="nav-link" href="#">View Two</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">Process Two<i class="fa fa-chevron-up pull-right"></i></a>
              <ul class="nav nav-pills nav-stacked collapse left-submenu" id="item2">
                <li class="nav-item"><a class="nav-link" href="#">View One</a></li>
                <li class="nav-item"><a class="nav-link" href="#">View Two</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Process Three</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Process Four</a></li>
          </ul>
        </div>
      </div>

    <!-- Leftside offcanvas Contentarea-->
      <div class="col-xs-12 col-sm-10" style="padding:0;margin:0;">

        <div class="header">
          <nav class="navbar navbar-light">
            <div class="float-xs-left hidden-sm-up">
              <ul class="nav nabar-nav">
                <li class="nav-item">
                  <a class="btn btn-outline" data-toggle="offcanvas">
                    <i class="fa fa-bars"></i> 
                  </a>
                </li>
              </ul>
            </div>
            <ul class="nav navbar-nav pull-right">
              <li class="nav-item"><a href=".">Item 1</a></li>
            </ul>
          </nav>
        </div>

        <div class="container-fluid" style="background-color:white;">

    <div class="row">
        <div class="col-xs-12">
            <div class="container-fluid">
                <section class="content-header">
                    <h1> Mailbox
                    <small>32 new messages</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Mailbox</li>
                    </ol>
                </section>
                <div class="row">
                    <div class="col-sm-9 col-md-10">
                        <div class="col-sm-3 col-md-2" >
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2">
             <button class="btn btn-danger btn-block"><i class="fa fa-edit"></i> Compose</button>
            <hr>
        <!-- FOLDERS -->
<div class="RTS-innerNav">
                <h5 class="">Folders</h5>
                <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                    <li class="nav-item">
                    <a class="nav-link" href="#"data-target="#emailInbox" data-toggle="collapse" data-parent="#stacked-menu">Inbox
                        <i class="fa fa-chevron-up pull-right">
                        </i>
                        </a>
                    <ul class="nav nav-pills nav-stacked collapse left-submenu" id="emailInbox">
                        <li class="nav-item"><a class="nav-link" href="#">New <span class="tag tag-pill tag-danger pull-right">32 </span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Starred <span class="tag tag-pill tag-info pull-right">2 </span></a> </li>
                        <li class="nav-item"><a class="nav-link" href="#">Important</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Drafts <span class="tag tag-pill tag-info pull-right">2 </span></a> </li>
                    </ul>
                    </li>
                    <li class="nav-item">
                            <!-- Nav tabs -->
                    <a class="nav-link" href="#"data-target="#mailLabels" data-toggle="collapse" data-parent="#stacked-menu">Labels<i class="fa fa-chevron-up pull-right"></i></a>
                    <ul class="nav nav-pills nav-stacked collapse left-submenu" id="mailLabels">
                        <li class="nav-item"><a href="#home" class="nav-link" data-toggle="tab">
                            <span class="fa fa-inbox"></span> Primary</a></li>
                        <li class="nav-item"><a href="#profile" class="nav-link" data-toggle="tab">
                            <span class="fa fa-user"></span>  Social</a></li>
                            <li class="nav-item"><a href="#messages" class="nav-link" data-toggle="tab">
                            <span class="fa fa-tags"></span> Promotions</a></li>
                            <li class="nav-item"><a href="#settings" class="nav-link" data-toggle="tab">
                            <span class="fa fa-plus no-margin"></span></a></li>
                    </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Tasks</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Calendar</a></li>
                </ul>
            </div>         
            <!-- Tab panes -->
        </div>
        <div class="col-sm-9 col-md-10" style="padding:5px;">
            <div class="box-header with-border">
              <h3 class="box-title">Inbox</h3>
              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search Mail">
                  <span class="fa fa-search form-control-feedback"></span>
                </div>
              </div>
        <!-- /.box-tools -->
            </div>     
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="toolbar">
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm">
                                <div class="checkbox" style="margin: 0;">
                                    <label>
                                        <input type="checkbox">
                                    </label>
                                </div>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                Select<span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">All</a></li>
                                <li><a href="#">None</a></li>
                                <li><a href="#">Read</a></li>
                                <li><a href="#">Unread</a></li>
                                <li><a href="#">Starred</a></li>
                                <li><a href="#">Unstarred</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                More 
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Mark all as read</a></li>
                                <li class="divider"></li>
                                <li class="text-center"><small class="text-muted">Select messages to see more actions</small></li>
                            </ul>
                            <button type="button" class="btn btn-default btn-sm " data-toggle="tooltip" title="Refresh">
                            &nbsp;&nbsp;&nbsp;<span class="fa fa-refresh"></span>&nbsp;&nbsp;&nbsp;</button>
                        </div>
                        <div class="pull-right">
                            <span class=""><b>1</b>–<b>50</b> of <b>160</b></span>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default">
                                    <span class="fa fa-chevron-left"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-sm ">
                                    <span class="fa fa-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">5 mins ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">28 mins ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">11 hours ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">15 hours ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">Yesterday</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">2 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">2 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">2 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">2 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">2 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">4 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">12 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">12 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">14 days ago</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="read-mail.html">Reagan Stewart</a></td>
                            <td class="mailbox-subject"><b>RTSCore-Dasboard v1.0</b> - Trying to find a solution to this problem...
                            </td>
                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                            <td class="mailbox-date">15 days ago</td>
                        </tr>
                        </tbody>
                        </table>
                    <!-- /.table -->
                    </div>
                    <div class="tab-pane fade in" id="profile">
                        <div class="list-group">
                            <div class="list-group-item">
                                <span class="text-center">This tab is empty.</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="messages">
                        ...</div>
                    <div class="tab-pane fade in" id="settings">
                        This tab is empty.</div>
                </div>   
                <div class="row-md-12">
                    <div class="well"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      </div> 
    </div>
    <footer>
      <div class="container">
        <p class="float-xs-right">
          <a href="#">Back to top</a>
        </p>
      </div>
  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../../assets/js/RTS.bootstrap4.min.js"></script>
    <script src="../../assets/js/offcanvas.js"></script>
    <script src="dashboard.index.js"></script>
    <script src="inbox/inbox.index.js"></script>
    <script src="../../assets/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   </script>



  </body>
</html>
