<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
<script src="https://use.fontawesome.com/d48089dd45.js"></script>
 <title>RTS[core]Template | Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/RTS.bootstrap4.min.css" rel="stylesheet">
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->

   <link href="offDash.css" rel="stylesheet">
  
  </head>

  <body>
       <div class="row row-offcanvas row-offcanvas-left ">
         <!-- Leftside offcanvas-->
         <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar"style="padding:0;margin:0;">
           <div class="header" style="background-color:#55595c">
              <nav class="navbar navbar-dark bg-inverse"style="max-height:55px; padding:0 0 0 15px; margin-0px;" >
                <div id="logo">
                  <object>
                    <embed src="../../assets/img/betta-fish-navbar.svg" width="200"height="55"/>
                  </object>
                </div>
               
              </nav>
           </div>
           <div style="height:250px; width:100%; background-color:#55595c;">
             <div class="userbox">
               <img src="img/user-shape.svg" height='75' width='75'/>
               <div class="row">
                 <p class="lead text-info">Reagan Stewart</p>
                 <p class="text-muted">Directort of User Experience</p>
                 <hr/>
                <div class="row">
                  <div class="col-xs-3">
                   <a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-xs-3">
                    <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-xs-3">
                    <a href=""><i class="fa fa-mobile" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-xs-3">
                    <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                  </div>
                </div>
               </div>
               <hr>
               <div class="row">
                 <div class="profileEditbtn pull-right">
                    <button class="btn btn-outline-secondary btn-sm">Edit</button>
                 </div>                 
               </div>
             </div>
           </div>
           <div class="sidenavBox">
             <h5 class="">navigation</h5>
              <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                <li class="nav-item">
                 <a class="nav-link" href="#"data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu">Process One<i class="fa fa-chevron-up pull-right"></i></a>
                  <ul class="nav nav-pills nav-stacked collapse left-submenu" id="item1">
                    <li class="nav-item"><a class="nav-link" href="#">View One</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">View Two</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="#"data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">Process Two<i class="fa fa-chevron-up pull-right"></i></a>
                  <ul class="nav nav-pills nav-stacked collapse left-submenu" id="item2">
                    <li class="nav-item"><a class="nav-link" href="#">View One</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">View Two</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Process Three</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Process Four</a></li>
              </ul>
           </div>
         </div>
         <!-- Leftside offcanvas Contentarea-->
         <div class="col-xs-8 col-sm-10" style="padding:0;margin:0;">
           <div class="header">
              <nav class="navbar navbar-light">
                <div class="float-xs-left hidden-sm-up">
                  <ul class="nav nabar-nav">
                    <li class="nav-item">
                      <a class="btn btn-outline" data-toggle="offcanvas">
                        <i class="fa fa-bars"></i> 
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <section class="jumbotron text-xs-center" style="border-radius:0;">
              <div class="container">
                <h1 class="jumbotron-heading">RTS[betta]</h1>
                <div id="logo">
                <object>
                  <embed src="../../assets/img/betta-fish.svg" width="150"height="100"/>
                </object>
                </div>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
                <p>
                  <a href="#" class="btn btn-primary">Main call to action</a>
                  <a href="#" class="btn btn-secondary">Secondary action</a>
                </p>
              </div>
            </section>
           
    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card">
            <img src="http://lorempixel.com/280/100?r=1" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://lorempixel.com/280/100?r=2" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://lorempixel.com/280/100?r=3" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">   
            <img src="http://lorempixel.com/280/100?r=4" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://lorempixel.com/280/100?r=5" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://lorempixel.com/280/100?r=6" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://lorempixel.com/280/100?r=7" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://lorempixel.com/280/100?r=8" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://lorempixel.com/280/100?r=9" class="image-responsive" style="width:100%;"alt="Random second slide">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
       <footer>
        <div class="container">
          <p class="float-xs-right">
            <a href="#">Back to top</a>
          </p>
        </div>
      </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../../assets/js/RTS.bootstrap4.min.js"></script>
    <script src="../../assets/js/offcanvas.js"></script>
    <script src="../../assets/js/offdash.js"></script>
    <script src="../../assets/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>



  </body>
</html>
